# Виртуальное окружение (папка с установленными библиотеками)
venv/
.venv/
env/
ENV/

# Кэш Python (автоматически создаваемые файлы компиляции)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы с секретами и паролями
.env
*.env

# Логи и временные файлы разработки
*.log
.pytest_cache/
.coverage
htmlcov/

# Настройки вашей среды разработки (VS Code или PyCharm)
.vscode/
.idea/
.DS_Store
